<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onboarding">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <activity android:name=".Feedback.Feedback" android:exported="true"/>
        <activity android:name=".Main.Infoscherm" android:exported="true"/>
        <activity android:name=".Main.Vraagscherm" android:exported="true"/>
        <activity android:name=".Promo.Promoscherm" android:exported="true"/>
        <activity android:name=".Promo.Promoinfoscherm" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>